<header class="nav-header">
  <nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="/" class="nav-link <%= path ==='/'?'active-link':'' %>"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          href="/admin/add-products"
          class="nav-link <%= path ==='/admin/add-products'?'active-link':'' %>"
          >Add Products</a
        >
      </li>
    </ul>
  </nav>
</header>
