doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title #{docTitle}
      link(rel="stylesheet", href="/css/main.css")
   body  
      header.nav-header
         nav.navbar 
            ul.nav-list 
               li.nav-item 
                  a.nav-link(href="/") Home 
               li.nav-item
                  a.nav-link(href="/admin/add-products") Add Products 
      main.content 
         if products.length
            each product in products
               p #{product.title}
         else 
            p No products...
