<!DOCTYPE html>
<html lang="en">
  <%- include("includes/head.ejs") %>
  <body>
    <%- include("includes/navigation.ejs") %>
    <main class="center-content">
      <h1>Page not found!</h1>
      <p><a href="/" class="link">Take me home</a></p>
    </main>
  </body>
</html>
